name: Inspect Pull Requests

on:
  pull_request:
    branches: [main]

env:
  COREPACK_ENABLE_STRICT: 0
  COREPACK_INTEGRITY_KEYS: 0

jobs:
  inspect:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x, 24.x]

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - run: |
          corepack enable
          pnpm install
          npx lerna run build
          npx lerna run lint
          npx lerna run test:coverage
